/* src/pages/LandingPage/LandingPage.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0); /* Transparent background */
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  .logo a{
    color: #FFFFFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0.5vw;
    text-decoration: none;
    font-family: 'Quicksand';
    margin-left: 1rem;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
  .signin-nav-func{
    display: flex;
    padding-right: 25px;
    flex-direction: column;
    margin-right: 15px;
  }
  .question{
    font-family: 'Quicksand';
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 0.6px;
  }
  .links_signup a{
    font-family: 'Quicksand';
    color: #000000;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-decoration: none;
  }
  .content {
    margin-top: 80px; /* Adjust margin to account for fixed navbar */
  }
  
  /* Add media queries for responsiveness as needed */
  